<div>
  <h4><%= @park_name %></h4>
  <table id="forecast-table">
    <tr>
      <th style="text-align: center"><h4><%= @park_name %></h4></th>
    </tr>
    <tr>
      <th>Date</th>
      <th>Low</th>
      <th>High</th>
    </tr>
    <% @five_day_forecast.each do |forecast| %>
    <tr>
      <td><%=forecast[0]%></td>
      <td><%=forecast[1]%></td>
      <td><%=forecast[2]%></td>
    </tr>
    <% end %>
  </table>
</div>
