<table class="table-md" >
  <% @national_parks.each do |national_park| %>
  <tr>
    <td><h4><%= national_park.name %>: <%= national_park.state %></h4></td>

    <td><%= link_to "Directions", "/parks/directions/?lat=%s&long=%s&type=%s" % [national_park.lat, national_park.long, @type] , remote: true, class: "mdirections" %></td>

    <td><%= link_to "Forecast", "/forecast/weather/?lat=%s&long=%s" % [national_park.lat,national_park.lat] , remote: true, class:"card-link" %></td>

    <td><a href ="<%= national_park.url %>" target="_blank">Park Info</a></td>
  </tr>
  <% end %>
</table>
<div id="forecast-modal" class="modal fade"></div>
<div id="directions-modal" class="modal fade"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danielgindi-jquery-backstretch/2.1.13/jquery.backstretch.min.js"></script>
<script>
$.backstretch("/moose-in-grand-teton-national-park-52301-1920x1080.jpg");
</script>
