<div class="container-fluid">
  <!-- <div class="row">
    <div class="col-md-12 head-logo">
    <%= image_tag "colo_circle.png", class: "obey" %>

    </div>


  </div> -->




  <div class="row">
    <% @parks.each do |park| %>
    <div class="col-sm-4">
      <div class="card card-block">
        <h4 class="card-title"><%= park.first %></h4>
        <p class="card-text" data-zip="<%= park[1][:zipcode] %>">Current Weather: <%#=@parks_weather[park.first][:temp]  %></p>
        <a href="#" class="card-link">Directions</a> &nbsp;
        <!-- <a href#='/weather/<%=park[1]  %>' class="card-link">Forecast</a> -->
        <!-- <%#= binding.pry %> -->
        <a href='/forecast/weather/?lat=<%=(park[1][:lat_long].first)%>&long=<%=(park[1][:lat_long].last)%>' class="card-link">Forecast</a>
        <!-- <a href='/forecast/weather/<%#=park[1][:lat_long].map{ |o| o.to_s } %>' class="card-link">Forecast</a> -->
        <%#= link_to "Forecast", forecast/weater/(park[1][:lat_long], class:"card-link") %>
        <!-- <%#= link_to "WORK THIS SHIIIT", forecast_weather_path(URI.decode(park[:lat_long]))%> -->
      </div>
    </div>
    <% end %>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danielgindi-jquery-backstretch/2.1.13/jquery.backstretch.min.js"></script>

<script>
$.backstretch("http://kcparks.org/wp-content/uploads/2013/03/MillCreekFountain.jpg");
$(document).ready(function(){
  var parks = document.querySelectorAll('.card-text');
for (val of parks) {
  var zipcode = val.dataset['zip'];
  var target_url = '/json/weather';
  $.ajax({
    url: target_url,
    data: {
      zip: zipcode
    },
    type: 'GET',
    dataType: 'json'
  }).done(function (json) {
    console.log(json['temp']);
    var sel = "[data-zip=" + json['zip'] + "]";
    $(sel).html(json['temp']);
  }).fail(function (xhr, status, errorThrown) {
    alert('Sorry, there was a problem!');
    console.log('Error: ' + errorThrown);
    console.log('Status: ' + status);
    console.dir(xhr);
  });
}
})
</script>
