<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_PlACES_API_KEY"] %>&callback=initialize"></script>
<table class="table-sm">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @parks.each do |park_name,park_data| %>
  <tr>
    <td><h4><%= park_name %></h4></td>

    <td><p class="card-text" data-zip="<%= park_data[:zipcode] %>">Current Weather: <%#=@parks_weather[park.first][:temp]  %></p></td>

    <td><%= link_to "Directions", "/parks/directions/?lat=%s&long=%s" % [park_data[:lat],park_data[:long]] , remote: true, class: "mdirections" %></td>

    <td><%= link_to "Forecast", "/forecast/weather/?lat=%s&long=%s&name=%s" % [park_data[:lat],park_data[:long],park_name] , remote: true, class:"card-link" %></td>
  </tr>
  <% end %>
</table>
<div id="forecast-modal" class="modal fade"></div>
<div id="directions-modal" class="modal fade"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danielgindi-jquery-backstretch/2.1.13/jquery.backstretch.min.js"></script>

<script>
$.backstretch("http://caliban.lbl.gov/panoramas/new_york/central_park.jpg");
</script>
