<nav class="navbar navbar-fixed navbar-dark bg-inverse">
  <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav">
      <li class="nav-item nav-link">
      <% if current_user %>
        <%= link_to "Logout", logout_path, method: :delete %>
        <!-- <a id="twitter_logout", href="/logout"><%= image_tag "twitter_logout.png",size: "70x50", class:"img-rounded center-block", title: "Twitter Logout",method: :delete %> -->
      <% else %>
        <a id="twitter", href="/auth/twitter"><%= image_tag "twitter.png", size: "50x50", class:"img-rounded center-block", title: "Twitter Login" %>
      <% end %>

      <li class="nav-item pull-xs-left">
        <a class="nav-link" href="/"><%= image_tag "home.png", size: "50x50", class:"img-rounded center-block", title:"Home" %> <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item pull-xs-left">
        <a class="nav-link" href="#"><%= image_tag "hot.png", size: "50x50", class:"img-rounded center", title:"Current Temp" %><%= geo_location[:temp] %></a>
      </li>

      <li class="nav-item pull-xs-right">
        <a href="/parks/national_search"><%= image_tag "national_forest.png", size: "50x50", class:"img-rounded center", title:"National Parks" %></a>
      </li>

      <li class="nav-item pull-xs-right">
        <a href="/parks/state_search"><%= image_tag "colo_circle.png", size: "50x50", class:"img-rounded center-block", title:"State Parks" %></a>
      </li>

      <li class="nav-item pull-xs-right">
        <a href="/parks/search"><%= image_tag "city.png", size: "50x50", class:"img-rounded center-block", title: "City Parks" %></a>
      </li>
    </li>
  </ul>
</nav>
